.btn{
    color: white;
    border: solid 1px white;
    transition: ease 0.2s all;
}

.btn.enable:hover{
    color: #BD0000;
    background-color: white;
}

mat-icon{
    position: absolute;
    margin-left: -5px
}

.iconMove{
    margin-left: 22px
}