.btn{
    color: white;
    border: solid 1px white;
    transition: ease 0.2s all;
}

.btn:hover{
    color: #BD0000;
    background-color: white;
}

mat-icon{
    margin-top: -10px;
    padding-top: -10px;
}