.parallelogram {
	width: 100%;
	height: 100%;
	transform: skew(-20deg);
	background: white;
    color: #bd0000;
    padding-top: 1px;
}

.parallelogram .innerText{
    transform: skew(20deg) !important;
}