img{
    width: 500px;
    max-width: 90%;
}

.welcome{
    margin-top: -15px;
}

.welcome .line{
    height: 2px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top: 8px;
}

.left{
    margin-left: -40px;
}