<app-sections-title [content]="title"></app-sections-title>
<div class="row">
    <div class="col-md-3 col-sm-6 text-center mt-3 mb-3" *ngFor="let room of roomsList">
        <div>{{ room.nomVille }}</div>
        <div class="m-1">
            <ng-template [ngIf]="room.nbSalles > 1" [ngIfElse]="onlyOneRoom">
                <span>{{ room.nbSalles }} Salles</span>
            </ng-template>
            <ng-template #onlyOneRoom>
                <span>{{ room.nbSalles }} Salle</span>
            </ng-template>
        </div>
        <button><i class="fas fa-info-circle"></i> Y aller</button>
    </div>
</div>
